

.compmain{
    height: 60px;
    width: 80px;
    border-radius: 30%;
    border: 3px solid red;
    background-color: white;
    
}
.iconholder{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.p{
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.plus{
    /* margin-top: 1px; */
    background-color: white;
    z-index: 11;
    color: red;
}
.cross{
    background-color: white;
    z-index: 11;
    color: red;
    
}
.plus:hover{
    color: blue;
    
    cursor: pointer;
}
.cross:hover{
    color: blue;
    cursor: pointer;
}
.dia{
    height: 100vh;
    width: 100vw;
}
.category{
    cursor: pointer;
    width: 2vw;
    
  }
.btn{
    height: 15vh;
    width: 10vw;
    color: white;
    background-color: tomato;
    position: absolute;
    top: 40vh;
    left: 40vw;
    border-radius: 30%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5vw;
}
.digo{
    background-color: white !important ;
}
.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link.readonly-link .bi-link-path{
    cursor: default  !important;
    stroke: tomato  !important;
}